// Variables

// Colors
$color_black: #272727;
$color_off_white: #E4E4E4;
$color_dark_red: #3A282E;
$color_dark_blue: #30313E;

// Sizing
$largest: 2.441rem;
$large_med: 1.953rem;
$large: 1.563rem;
$base_large: 1.25rem;
$base: 1rem;
$base_small: .8rem;
$small: 0.64rem;
$small_med: 0.512rem;
$smallest: 0.4rem;

// Z-indices
$z_filter: 50;
$z_gallery: 100;
$z_nav: 150;

// Global
$padding: 10px;